/* styles.css */

body {
    font-family: 'Arial, sans-serif';
    background-color: #ffccff; /* Baby pink background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('balloons.png'), url('balloons.png');
    background-position: left top, right top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    max-width: 600px;
    background: linear-gradient(to bottom right, #ffccff, #ccf2ff);
}

.card {
    padding: 20px;
    background-color:#ffb6c1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

header h2 {
    font-size: 1.5em;
    color: #555;
}

.rose-flower {
    width: 150px;
    height: auto;
    margin: 20px 0;
}

.invitation-text {
    font-size: 1.2em;
    color: #555;
}

.details {
    font-size: 1em;
    color: #777;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.primary-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #0056b3;
}

.guest-list {
    margin-top: 20px;
}

.guest-list h3 {
    color: #333;
}

.guest-list ul {
    list-style-type: none;
    padding: 0;
}

.guest-list li {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}
